* {
    background-color: #f5f6ea;
}

h1 {
    color: #f15025;
    background-color: #f5f6ea;
}

h2 {
    color: #a14d08c7;
    background-color: #f5f6ea;
}

h3 {
    color: #a14d08c7;
    background-color: #f5f6ea;
}

img {
    width: 612px;
    height:auto;